extends ../node_modules/pug-bootstrap/_bootstrap

block body
	script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')

	+navbar("Dragonchain UVN Block Explorer","dropdown_menu","inverse")
	div.container
		h2 Chain ID: #{chain_id} 
		div.well
			div.row
				div.col-sm-4
					p
						b Node Level:
						br 
						span #{chain_level}
				div.col-sm-4
					p
						b Dragonchain Version: 
						br
						span #{chain_version}
				div.col-sm-4
					p
						b Block Height: 
						br
						span #{block_height}	

			div.row
				div.col-sm-4
					p
						b Blocks Last 24 Hours: 
						br
						span #{blocks_last_24_hours}	

				div.col-sm-4
					p
						b Last Block Time: 
						br
						span #{last_block_time} UTC (#{last_block_time_since})
				div.col-sm-4
					p
						b TIME @ Last Block: 
						br
						span #{last_block_drgn_time}
		div.row
			div.col-sm-12
				div#chart_div

		div.row
			div.col-sm-12
				b Last Block:
				pre !{JSON.stringify(last_block, null, 2)}

	
	script.
		var blocksByHour = !{JSON.stringify(blocks_by_hour)}
	
					
	
		google.charts.load('current', {packages: ['corechart', 'bar']});
		google.charts.setOnLoadCallback(drawChart);
		
		function drawChart() {

			// Create the data table.
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Hour');
			data.addColumn('number', 'Blocks');

			blocksByHour.forEach(function (element) {
				data.addRow([element.hour, element.times.length]);
			});


			// Set chart options
			var options = {'title':'Blocks by Hour (24 Hours)', 'width':'100%', 'height':500};

			// Instantiate and draw our chart, passing in some options.
			var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
			chart.draw(data, options);
		}
